### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "C:\\Users\\Thomas Byrne\\Documents\\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

In [3]:
#Creates initial data frame
purchase_df = pd.DataFrame(purchase_data)
total_players = pd.DataFrame({"Total Players": [purchase_df["Purchase ID"].count()]})
total_players

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
unique_items = purchase_df["Item Name"].nunique()
avg_price = purchase_df["Price"].mean()
total_purchases = purchase_df["Purchase ID"].count()
revenue = purchase_df["Price"].sum()
summary_df  = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [avg_price], 
                            "Number of Purchases": [total_purchases], "Total Revenue": [revenue]})
summary_df['Average Price'] = summary_df['Average Price'].map('${:,.2f}'.format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map('${:,.2f}'.format)
summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
gender_total = purchase_df["Gender"].count()
percents = purchase_df['Gender'].value_counts(normalize=True) * 100
gender_count = pd.DataFrame({"Total Count": purchase_df["Gender"].value_counts(), "Percentage of Players": percents})
gender_count['Percentage of Players'] = gender_count['Percentage of Players'].map('{:,.2f}%'.format)
gender_count

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
gender_df = purchase_df.groupby("Gender")
gender_avg = gender_df["Price"].mean()
gender_price = gender_df["Price"].sum()
unique_df = purchase_df.drop_duplicates("SN")
unique = unique_df["Gender"].value_counts()
avg_per_person = gender_price / unique
gender_sort_df = pd.DataFrame({"Total Count": gender_total, "Average Purchase Price": gender_avg,
                                "Total Purchase Price": gender_price, 
                                "Average Purchase Price per Person": avg_per_person})
gender_sort_df['Average Purchase Price'] = gender_sort_df['Average Purchase Price'].map('${:,.2f}'.format)
gender_sort_df['Total Purchase Price'] = gender_sort_df['Total Purchase Price'].map('${:,.2f}'.format)
gender_sort_df['Average Purchase Price per Person'] = gender_sort_df['Average Purchase Price per Person'].map('${:,.2f}'.format)
gender_sort_df

,Total Count,Average Purchase Price,Total Purchase Price,Average Purchase Price per Person
Gender,,,,
Female,780,$3.20,$361.94,$4.47
Male,780,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,780,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame